:root {
    --color-white: #FFFFFF;
    --color-lightblue: #ABBCFF;
    --color-yellow: #FCAE4A;
    --color-grey: #9699AA;
    --color-text: #022959;
    --fw-light:300;
    --fw-normal:400;
    --fw-bold:600;
    --fs-heading-1:24px;
    --fs-heading-2: 20px;
    --fs-body: 15px;
    --fs-body-small: 13px;
  }


body {
   
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: var(--color-text);
    background-color: #f2f2f2;

    
}

header {
    display:flex;
    flex-direction: column;
    align-items:center;
}

img {
    order: -1
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem; 
    justify-content: center;
  }

.steps {
    padding: 1.75rem;
    display: flex;
    align-items: leftr;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 21.875rem;
    min-height: 13.875rem;
    order: -1;

}

.info {
    display: flex;
    align-items: center;
    justify-content: center;

}

#header {
    display: flex;
    align-items: center;
    justify-content: center; 
}

